<p id="notice"><%= notice %></p>

<h1>Movimentacao Estoques</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Quantidade</th>
      <th>Pessoa</th>
      <th>Operacao</th>
      <th>Produto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimentacao_estoques.each do |movimentacao_estoque| %>
      <tr>
        <td><%= movimentacao_estoque.data %></td>
        <td><%= movimentacao_estoque.quantidade %></td>
        <td><%= movimentacao_estoque.pessoa %></td>
        <td><%= movimentacao_estoque.operacao %></td>
        <td><%= movimentacao_estoque.produto %></td>
        <td><%= link_to 'Show', movimentacao_estoque %></td>
        <td><%= link_to 'Edit', edit_movimentacao_estoque_path(movimentacao_estoque) %></td>
        <td><%= link_to 'Destroy', movimentacao_estoque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movimentacao Estoque', new_movimentacao_estoque_path %>
